apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-application
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    # repoURL: git@github.com:finternet-io/units-automation.git
    repoURL: git@github.com:Shashankpgit/Learn.git
    # targetRevision: terraform-vm-setup
    targetRevision: github-Actions
    # path: manifests/applicationset/applicationset
    path: ARGOCD/ApplicationSet/applicationsetFinternet/applicationset
    # directories:
    #   recurse: false
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true