{{- if .Values.secrets }}
{{- range .Values.secrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: {{ .url | quote }}
  sshPrivateKey: |
{{ .sshPrivateKey | indent 4 }}
  sshKnownHosts: |
    github.com ssh-ed25519 AAAA...
{{- end }}
{{- end }}